body{
    background-image: url("../img/discord-wallpaper.png");
    background-color: rgba(31, 0, 59, 0.945);
    background-blend-mode: lighten;
}
h1{
    color: rgb(255, 255, 255);
    position:absolute;
    left: 180px
}
.texto{
    font-size: 40;
    color:rgba(228, 228, 228, 0.829);
    position: absolute;
    left: 150px;
    top: 200px;
}
img{
    color: rgb(255, 255, 255);
    position:absolute;
    left: 0px;
}
button {
    background-color: #271e46;
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Merriweather;
    position: absolute;
    top: 0px;
    left:0px;
}
