body{
    background-image: url("../img/amongus.gif");
    background-color: blanchedalmond;
}

h1{
    color:blanchedalmond;
    font-size: 60px;
    position:absolute;
    top:-30px;
    left: 120px;
}
h2{
    color:rgb(252, 252, 252);
    font-size: 40px;
}
h3{
    color:rgb(196, 0, 0);
    font-size: 30px;
    position:absolute;
    right:20px;
    top:0px;
}
button {
    background-color: #ffffff;
    border: none;
    color: rgb(141, 0, 0);
    padding: 20px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    left:0px;
    top:0px;
  }